<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="dotnet8" value="https://dnceng.pkgs.visualstudio.com/public/_packaging/dotnet8/nuget/v3/index.json" />
    </packageSources>
</configuration>
