name: Build

on: [push, pull_request]

jobs:
    build:
        runs-on: ubuntu-20.04
        if: "!contains(github.event.head_commit.message, '[skip ci]')"

        env:
            DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
            DOTNET_CLI_TELEMETRY_OPTOUT: 1
            DOTNET_NOLOGO: true

        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Setup .NET 8 SDK
              uses: actions/setup-dotnet@v3
              with:
                  dotnet-version: "8.x"
                  dotnet-quality: "preview"

            - name: Test
              run: dotnet test --collect:"XPlat Code Coverage"

            - name: Update codecov
              if: startsWith(github.repository, 'khellang/')
              uses: codecov/codecov-action@v1
